.navbar {
  width: 100%;
  height: 140px;
  background-color: white;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 50px;
}

.contentTop__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  color: #2a6661;
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none;
}

.contentTop__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;

  padding-left: 16px;
  border-radius: 10px;
  background: #ffeee1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 650px;
  height: 60px;
}

.search__input {
  width: 600px;
  margin-left: 10px;
  color: #33363f;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
}

.search__input:focus {
  outline: none;
}

.avatar__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
}

.contentBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 450px;
  width: 800px;
}
