.account {
  background-color: #f6f1ec;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatarInfo__avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.avatarInfo__username {
  color: #000;

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}

.accountInfo {
  background-color: white;
  width: 936px;
  height: 200px;
  border-radius: 30px;
}

.accountInfo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 56px;
  padding-top: 40px;
}

.accountInfo__labelInputPair {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.inputContainer {
  margin-left: 100px;
}

.accountInfo__buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
